:host {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;
  padding: 2rem 1rem;
  overflow-y: auto;
}

/* Contenedor principal de la tarjeta de registro */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
}

form {
  width: 100%;
}

/* Estilos específicos para la sección del vehículo */
.vehicle-form-section {
  background-color: #f9f9f9;
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
  padding: 1.5rem;

  h3 {
    text-align: left;
    color: var(--success-color);
    font-size: 1.25rem;
    font-weight: 600;
  }
}

/* Estilos específicos para el checkbox */
.field-checkbox {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
  color: var(--primary-color);

  label {
    color: var(--text-color-secondary);
    font-size: var(--font-size-md);
    margin-top: 2px;
    text-align: left;
  }
}
