<div
  class="flex flex-column align-items-center justify-content-center min-h-screen p-4 surface-ground overflow-auto"
>
  <div class="w-full md:w-30rem text-center">
    <img
      src="icons/icon-192x192.png"
      alt="Logo"
      class="mb-3"
      style="width: 100px"
    />

    <h1 class="text-3xl font-bold mb-1">Perfil</h1>
    <p class="text-secondary mb-4">
      Actualiza tu información personal
    </p>

    <div class="flex flex-column gap-3">
      <input
        pInputText
        placeholder="Nombre(s)"
        [(ngModel)]="perfil.nombre"
        class="w-full"
      />
      <input
        pInputText
        placeholder="Apellido Paterno"
        [(ngModel)]="perfil.apellidoPaterno"
        class="w-full"
      />
      <input
        pInputText
        placeholder="Apellido Materno"
        [(ngModel)]="perfil.apellidoMaterno"
        class="w-full"
      />
      <input
        pInputText
        placeholder="Correo"
        [(ngModel)]="perfil.correo"
        class="w-full"
      />

      <div class="p-inputgroup">
        <input
          [type]="mostrarActual ? 'text' : 'password'"
          pInputText
          placeholder="Contraseña actual"
          [(ngModel)]="perfil.passwordActual"
          class="w-full"
        />
        <button
          type="button"
          pButton
          icon="{{ mostrarActual ? 'pi pi-eye-slash' : 'pi pi-eye' }}"
          (click)="mostrarActual = !mostrarActual"
          class="p-button-text"
        ></button>
      </div>

      <div class="p-inputgroup">
        <input
          [type]="mostrarNueva ? 'text' : 'password'"
          pInputText
          placeholder="Contraseña nueva"
          [(ngModel)]="perfil.passwordNueva"
          class="w-full"
        />
        <button
          type="button"
          pButton
          icon="{{ mostrarNueva ? 'pi pi-eye-slash' : 'pi pi-eye' }}"
          (click)="mostrarNueva = !mostrarNueva"
          class="p-button-text"
        ></button>
      </div>

      <button
        pButton
        label="Actualizar"
        class="w-full mt-2 actualizar-btn"
        (click)="actualizarPerfil()"
      ></button>
    </div>
  </div>
</div>
