<div class="qr-container">  
  <h1 class="text-3xl font-bold m-0">Acceso QR</h1>

  <div *ngIf="isLoading" class="state-box loading">
    <i class="pi pi-spin pi-spinner"></i>
    <p>Consultando tu QR de acceso...</p>
  </div>

  <div *ngIf="!isLoading && errorMessage" class="state-box error">
    <i class="pi pi-exclamation-triangle"></i>
    <p class="font-semibold">Error al generar el código QR</p>
    <small>Intentalo de nuevo más tarde.</small>
  </div>

  <div *ngIf="!isLoading && !errorMessage && !tokenQR" class="empty-state">
    <i class="pi pi-qrcode"></i>
    <p class="font-semibold">QR no disponible</p>
    <small>Para generar un código QR debes crear un viaje o unirte a uno existente.</small>
  </div>

  <div *ngIf="!isLoading && !errorMessage" class="w-full">
    
    <div *ngIf="estadoQR === 'disponible' || estadoQR === 'utilizado'">
      
      <p *ngIf="estadoQR === 'disponible'" class="text-secondary mt-1">
        Muestra este código QR al guardia para validar tu acceso.
      </p>

      <p *ngIf="estadoQR === 'utilizado'" class="text-secondary mt-1">
        Tu código QR ya ha sido autorizado. !No olvides marcar tu salida al salir!
      </p>

      <div class="qr-box">
        <qrcode
          [qrdata]="tokenQR!"
          [width]="280"
          [errorCorrectionLevel]="'H'"
          [colorDark]="'#232e56'"
          [colorLight]="'#ffffff'"
          [margin]="2"
        >
        </qrcode>

        <div *ngIf="estadoQR === 'utilizado'" class="qr-overlay">
          <i class="pi pi-check-circle"></i>
        </div>
    </div>

    <div *ngIf="estadoQR === 'utilizado'" class="w-full">
      <p *ngIf="!esPropietario" class="text-secondary text-sm mt-3">
        ¡Recuerda al conductor marcar su salida para poder unirte a otro viaje!
      </p>

      <div *ngIf="esPropietario" class="mt-4">
        <p-button 
          label="Marcar Salida" 
          (click)="marcarSalida()"
          [loading]="isMarkingExit"
          styleClass="p-button-danger w-full">
        </p-button>
      </div>
    </div>

  </div> 
</div>

<div *ngIf="estadoQR === 'utilizado' && !isLoading && !errorMessage" class="w-full mt-2 mb-6">
  <app-mapa-estacionamiento 
    [loteId]="loteId"
    [espacioAsignadoId]="miLugarAsignadoId">
  </app-mapa-estacionamiento>
</div>