<div class="scanner-container">
  <h1>Validación QR</h1>
  <p>Apunta la cámara al código QR del usuario para validar su acceso.</p>
  
  <div class="scanner-viewport">
    <div *ngIf="isLoading" class="scanner-overlay">
      <i class="pi pi-spin pi-spinner"></i>
      <p>Validando...</p>
    </div>
    
    <ngx-scanner-qrcode
      #action="scanner"
      [config]="config"
      (event)="onEvent($event)">
    </ngx-scanner-qrcode>
  </div>
</div>

<div 
  *ngIf="showResultDialog" 
  class="result-overlay" 
  [ngClass]="{
    'approved': scanResult?.aprobado, 
    'denied': !scanResult?.aprobado
  }"
  (click)="closeDialog()">

  <div class="result-content">
    <!-- Acceso Aprobado -->
    <div *ngIf="scanResult?.aprobado">
      <i class="pi pi-check-circle icon"></i>
      <h2>Acceso Permitido</h2>
      
      <div class="pasajeros-lista">
        <p><strong>Conductor: </strong> {{ scanResult?.conductor }} </p>
        <p><strong>Placa:</strong> {{ scanResult?.placa }}</p>
        <p *ngIf="scanResult?.pasajeros"><strong>{{ scanResult?.pasajeros }}</strong> pasajero(s) a bordo:</p>
        <ul>
          <li *ngFor="let pasajero of scanResult?.pasajeros_detalles">{{ pasajero }}</li>
        </ul>
      </div>
    </div>

    <!-- Acceso Denegado -->
    <div *ngIf="scanResult && !scanResult.aprobado">
      <i class="pi pi-times-circle icon"></i>
      <h2>Acceso Denegado</h2>
      <p class="motivo"><strong>{{ scanResult.motivo }}</strong></p>
    </div>
  </div>

</div>